{{#paper-card class="padding-10"}}
  <div class="layout-row padding-10">
    <div class="flex-20">
      Name
    </div>
    <div class="flex-60">
      Email
    </div>
    <div class="flex-20">
      Assigned Questions
    </div>
  </div>
{{/paper-card}}
{{#each model as |student|}}
    <div {{action 'studentClicked' student}}>
    {{#paper-card}}
      <div class="layout-row padding-10">
        <div class="flex-20">
          {{student.name}}
        </div>
        <div class="flex-60">
          {{student.email}}
        </div>
        <div class="flex-20">
          {{student.assignedQuestions.length}}
        </div>
      </div>
    {{/paper-card}}
  </div>
{{/each}}
